<app-sidebar></app-sidebar>
<br>
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="container col-md-8">
  <div class="card text-primary">
    <div class="card-header">
      <h3>Registro de Productores</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="productorForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Nombre de usuario" class="form-control" formControlName="nombre"
              [class.is-invalid]="nombreNotValid">
            <small class="text-danger" *ngIf="nombreNotValid">
              Ingrese nombre de usuario
            </small>

          </div>
        </div>

        <div class="form-group row">
          <label for="apellidoPaterno" class="col-form-label col-sm-4">Apellido Paterno</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Apellido Paterno" class="form-control" formControlName="apellidoPaterno"
              [class.is-invalid]="apellidoPaternoNotValid">
            <small class="text-danger" *ngIf="apellidoPaternoNotValid">
              Ingrese apellido paterno
            </small>

          </div>
        </div>
        <div class="form-group row">
          <label for="apellidoMaterno" class="col-form-label col-sm-4">Apellido Materno</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Apellido Materno" class="form-control" formControlName="apellidoMaterno"
              [class.is-invalid]="apellidoMaternoNotValid">
            <small class="text-danger" *ngIf="apellidoMaternoNotValid">
              Ingrese apellido materno
            </small>

          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-4">Email</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Email" class="form-control" formControlName="email"
              [class.is-invalid]="emailNotValid">
            <small class="text-danger" *ngIf="emailNotValid">
              Ingrese correo electronico valido
            </small>

          </div>
        </div>
        <div class="form-group row">
          <label for="direccion" class="col-form-label col-sm-4">Direccion</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Direccion" class="form-control" formControlName="direccion"
              [class.is-invalid]="direccionNotValid">
            <small class="text-danger" *ngIf="direccionNotValid">
              Ingrese su direccion
            </small>

          </div>
        </div>
        <div class="form-group row">
          <label for="numero" class="col-form-label col-sm-4">Numero</label>
          <div class="col-sm-6">
            <input type="text" placeholder="Numero" class="form-control" formControlName="numero"
              [class.is-invalid]="numeroNotValid">
            <small class="text-danger" *ngIf="numeroNotValid">
              Ingrese su numero
            </small>

          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-rounded btn-secondary" type="button" [routerLink]="['/productores']">Volver</button>
            <button class="btn btn-primary" type="submit">Crear</button>

          </div>
        </div>

      </form>

      <hr>
      <!-- <pre>
        Estado del formulario: {{ productorForm.valid }}
        <br>
        Status: {{ productorForm.status }}
      </pre>
      {{ productorForm.value | json }}
 -->

    </div>
  </div>
</div>
