.container {
  padding-left: 10%;
  width: 100%;
  position: fixed;

}

#button1,
#button2 {
  display: inline-block;
  margin: 15px;
  width: auto;

}

p-tabMenu {
  margin: 5px;
}

app-paginator {
  padding-left: 15px;
}

.card {
  min-height: 600px;
}
