<app-sidebar></app-sidebar>
<br>
<div class="container col-md-8">
  <div class="card text-primary">
    <div class="card-header">
      <h3>Usuarios</h3>
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="buscar"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="table-info text-center">
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Fecha creacion</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>
                acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>1</td>
              <td>Pedro</td>
              <td>apellido</td>
              <td>email</td>
              <td>Fecha</td>
              <td>Direccion</td>
              <td>234234234</td>
              <td>
                <button type="button" name="button" class="btn btn-warning">editar</button>
                <button type="button" name="eliminar" class="btn btn-danger"
                  style="margin-left: 10px;">eliminar</button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td>2</td>
              <td>Juan</td>
              <td>apellido</td>
              <td>email</td>
              <td>Fecha</td>
              <td>Direccion</td>
              <td>234234234</td>
              <td>
                <button type="button" name="button" class="btn btn-warning">editar</button>
                <button type="button" name="eliminar" class="btn btn-danger"
                  style="margin-left: 10px;">eliminar</button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td>3</td>
              <td>Diego</td>
              <td>apellido</td>
              <td>email</td>
              <td>Fecha</td>
              <td>Direccion</td>
              <td>324234234</td>
              <td>
                <button type="button" name="button" class="btn btn-warning">editar</button>
                <button type="button" name="eliminar" class="btn btn-danger"
                  style="margin-left: 10px;">eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="botones">
      <button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" id="button1"
         [disabled]="loading">
        <i [ngClass]="{ 'fa-sync fa-spin':loading }" class="fas"></i>
        <span *ngIf="!loading">Actualizar</span>
        <span *ngIf="loading">Actualizando...</span>
      </button>
      <button class="btn btn-rounded btn-primary" type="button"  id="button2">Registrar Usuario</button>
    </div>
  </div>
</div>
