<app-usuarios-detail *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado"></app-usuarios-detail>
<app-sidebar></app-sidebar>
<br>
<div class="container col-md-8">
  <div class="card text-primary">
    <div class="card-header">
      <h3>Usuarios</h3>
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Buscar por nombre de usuario" aria-label="buscar"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    
    <div class="card-body">
      <!-- <p-tabMenu [model]="items"></p-tabMenu> -->
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="table-info text-center">
              <th>id</th>
              <th>username</th>
              <th>email</th>
              <th>roles</th>
              <th>
                acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.id}}</td>
              <td>{{ usuario.username}}</td>
              <td>{{ usuario.email}}</td>
              <td><span *ngFor="let k of objectKeys(usuario.roles)">{{ usuario.roles[k].nombre }}</span></td>
              <td>
                <button type="button" name="button" class="btn btn-warning"
                  (click)="abrirModal(usuario)">Editar</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
    <div class="botones">
      <button (click)="ejecutar()" (click)="actualizarLista()" class="btn btn-primary" type="button" name="button" id="button1"
        [disabled]="loading">
        <i [ngClass]="{ 'fa-sync fa-spin':loading }" class="fas"></i>
        <span *ngIf="!loading">Actualizar</span>
        <span *ngIf="loading">Actualizando...</span>
      </button>
      <button class="btn btn-rounded btn-primary" type="button" id="button2" [routerLink]="['/usuarios/form']">Agregar
        Usuario</button>
    </div>
    <app-paginator *ngIf="paginador" [paginador]="paginador" enlacePaginador="usuarios/page"></app-paginator>

  </div>
</div>
