<!-- <app-sidebar></app-sidebar>
<br>
<div class="container col-md-8">
  <div class="card text-primary">
    <div class="card-header">
      <h3>Listado de clientes</h3>
    </div>
    <div class="card-header">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Apellido</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Direccion</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Direccion">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Telefono</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccione tipo cliente</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Cliente Local</option>
            <option>Cliente Externo</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </form>
      <button type="button" name="eliminar" class="btn btn-danger"
                  style="margin-left: 10px;">eliminar</button>
    </div>
  </div>
</div> -->
<app-detalle-ventas></app-detalle-ventas>
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle Cliente</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">

            <form #clienteForm="ngForm">
              <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre"
                  [(ngModel)]="cliente.nombre" #nombre="ngModel" name="nombre">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Rut</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Rut"
                  [(ngModel)]="cliente.rut" #rut="ngModel" name="rut">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Apellido Paterno</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido Paterno"
                  [(ngModel)]="cliente.apellidoP" #apellidoP="ngModel" name="apellidoPaterno">
              </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">Apellido Materno</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="apellido Materno"
                  [(ngModel)]="cliente.apellidoM" #apellidoM="ngModel" name="apellidoMaterno">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email"
                  [(ngModel)]="cliente.email" #email="ngModel" name="email">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Direccion</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="direccion"
                  [(ngModel)]="cliente.direccion" #direccion="ngModel" name="direccion">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Numero</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="numero"
                  [(ngModel)]="cliente.numero" #numero="ngModel" name="numero">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">empresa</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="empresa"
                  [(ngModel)]="cliente.empresa" #empresa="ngModel" name="empresa">
              </div>

            </form>
          </div>
        </div>

        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary" (click)="update()">Editar</button> -->
          <button type="button" name="eliminar" class="btn btn-danger" style="margin-left: 10px;"
          (click)='deleteCliente(cliente)'>Eliminar Cliente</button>
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
