<div class="jumbotron">

  <h1 class="display-4">Tutorial de compra</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sunt nulla repellat culpa veritatis
    ex iusto enim? Exercitationem vitae amet minima suscipit beatae pariatur dolorem sapiente delectus enim. Deserunt,
    minus.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ex in amet mollitia? Amet iste nobis magni
    impedit quam cupiditate nostrum ab culpa non minima temporibus harum, ratione excepturi rerum!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  <youtube-player videoId="Gs069dndIYk" suggestedQuality="highres" [height]="300" [width]="600">
  </youtube-player>
