<div class="wrapper">
  <div class="sidebar">
    <div class="profile">
      <img src="../../../assets/images/asdasf.PNG" alt="">
      <h3>Usuario</h3>
      <a href="/perfil">
        <p>Administrador</p>
      </a>
    </div>
    <ul>
      <li><a href="#">
          <span class="item">Home</span>
        </a></li>
      <li><a routerLink="/productores">
          <span class="item">Productores</span>
        </a></li>
      <li><a routerLink="/clientes">
          <span class="item">Clientes</span>
        </a></li>
      <li><a routerLink="/comerciantes">
          <span class="item">Comerciantes</span>
        </a></li>
      <li><a href="#">
        <span class="item">Contratos</span>
      </a></li>
      <li><a href="#">
          <span class="item">Procesos de venta</span>
        </a></li>
      <li><a href="/usuarios">
          <span class="item">Usuarios</span>
        </a></li>
      <li><a href="#">
          <span class="item">Pagos</span>
        </a></li>
      <li><a href="#">
          <span class="item">Productos(productores)</span>
        </a></li>
      <li><a href="#">
          <span class="item">Subastas</span>
        </a></li>
      <li><a href="#">
          <span class="item">Reportes</span>
        </a></li>
    </ul>
  </div>
</div>
