<div class="wrapper">
  <div class="sidebar">
    <div class="profile">
      <img src="../../../assets/images/asdasf.PNG" alt="">
      <h3>Emho Tep</h3>
      <a href="/perfil">
        <p>Administrador</p>
      </a>
    </div>
    <ul>
      <li><a href="#">
          <span class="item">Home</span>
        </a></li>
      <li><a routerLink="/productores">
          <span class="item">Productores</span>
        </a></li>
      <li><a routerLink="/clientes">
          <span class="item">Clientes Externos</span>
        </a></li>
      <li><a routerLink="/comerciantes">
          <span class="item">Comerciantes</span>
        </a></li>
      <li><a href="#">
          <span class="item">Contratos</span>
        </a></li>
      <li><a href="#">
          <span class="item">Pagos</span>
        </a></li>
      <li><a href="#">
          <span class="item">Ventas</span>
        </a></li>
      <li><a href="#">
          <span class="item">Productos</span>
        </a></li>
      <li><a href="#">
          <span class="item">Subastas</span>
        </a></li>
      <li><a href="#">
          <span class="item">Reportes</span>
        </a></li>
    </ul>
  </div>
</div>
