<app-navbar></app-navbar>
<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Vendemos<br>
                  Las mejores Frutas
                </h1>
                <!-- <p>
                  Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing hidden
                  in the middle of text. All the Lorem Ipsumm </p> -->
                <div class="btn-box">
                  <a routerLink="/registro" (click)="toContacto()" class="btn-1">
                    Solicita tu Cuenta
                  </a>

                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="../../../assets/images/slider-img.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-tutorial-compra id="tutorial"></app-tutorial-compra>
<section class="about_section" id="about">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../../assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Sobre Nuestra Empresa
            </h2>
          </div>
          <p>
            La empresa “Maipo Grande”, agrupa empresas dedicadas a la producción de frutas en la zona metropolitana sur.
            La misión de la empresa es facilitar la comercialización de los productos de sus diferentes clientes en el
            mercado extranjero y local. </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-conctacto id="contacto"></app-conctacto>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
