.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  
}

app-paginator {
  padding-left: 15px;
}

.container {
  width: 100%;
  padding-left: 10%;
  position: fixed;
  transition: margin-left .5s;
}

#button1,
#button2 {
  display: inline-block;
  margin: 15px;
  width: auto;

}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(221, 220, 245);
  font-size: 15px;
}

.wrapper .sidebar ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  border-bottom: 1px solid #c2d3e2;
  color: rgb(221, 220, 245);
  font-size: 15px;
  position: relative;
  font-family: sans-serif;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

