<app-clientes-detail *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-clientes-detail>
<app-sidebar></app-sidebar>
<br>
<div class="container col-md-8">
  <div class="card text-primary">
    <div class="card-header">
      <h3>Listado de clientes</h3>
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Buscar por nombre" aria-label="buscar"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="table-info text-center">
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Empresa</th>
              <th>
                acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let cliente of clientes">
              <td>{{ cliente.idCliente }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellidoP }}</td>
              <td>{{ cliente.empresa }}</td>
              <td>
                <button type="button" name="button" class="btn btn-warning"
                  (click)="abrirModal(cliente)">Detalle</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="botones">
      <button (click)="ejecutar()" (click)="actualizarLista() " class="btn btn-primary" type="button" name="button" id="button1"
        [disabled]="loading">

        <i [ngClass]="{ 'fa-sync fa-spin':loading }" class="fas"></i>
        <span *ngIf="!loading">Actualizar</span>
        <span *ngIf="loading">Actualizando...</span>
      </button>

      <!-- <button class="btn btn-rounded btn-primary" type="button" id="button2">Crear Cliente</button> -->
    </div>
    <app-paginator *ngIf="paginador" [paginador]="paginador" enlacePaginador="clientes/page"></app-paginator>

    <!-- <paginator-nav *ngIf="paginador" [paginador] = "paginador" [enlacePaginador]="['/clientes/page']" ></paginator-nav> -->

  </div>
</div>
